// Base settings

body {
  position: relative;
  background-color: $white;
  font-family: $secondary-font;
}

a {
  text-decoration: none;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}
