// Color
$color-1: #3498db;
$color-2: #e74c3c;
$color-3: #2c3e50;
$color-4: #2980b9;
$white: #fff;
$black: #333;
$gray: #aaa;

// Fonts
$huge-size: 100px;
$big-size: 60px;
$mediun-size: 22px;
$small-size: 16px;
