.l-grid {
  .panel-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: 60px 40px;
    transition: left .3s linear;
    border-right: 2px solid $gray;
    background-color: $white;
    z-index: 3;
    will-change: left;
    overflow: auto;

    &.-hidden {
      left: -300px;
    }

    .form-panel-home {
      margin-bottom: 50px;

      label {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: $small-size;
      }

      input {
        width: 100%;
        padding: 10px;
        outline: 0;
      }

      label,
      input {
        display: block;
      }

      .button-form-panel-home,
      .button-form-panel-home-block {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: 0;
        border-radius: 0;
        outline: 0;
        background-color: $color-2;
        color: $white;
        font-size: $small-size;
        cursor: pointer;

      }
    }
  }

  .hand-text {
    position: absolute;
    top: 25px;
    left: 160px;

    &.-hidden {
      display: none;
    }
  }

  .back-panel-home {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($white, .6);
    z-index: 2;
    will-change: display;

    &.-hidden {
      display: none;
    }
  }

  .button-open-home {
    position: absolute;
    top: 20px;
    left: 40px;
    padding: 10px;
    border: 2px solid $color-2;
    border-radius: 0;
    outline: 0;
    background-color: $white;
    color: $black;
    font-size: $small-size;
    cursor: pointer;
  }
}
